[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
django-htmlmin = "*"
"jinja2" = "*"
raven = "*"
social-auth-app-django = "*"
django-modeltranslation = "*"
"psycopg2-binary" = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
