{% extends "base.html" %}

{% block title %}{{ _("Student's timetable") }}|{{ super() }}{% endblock title %}

{% block content %}

{% for klass in lessons %}
  {% if loop.first %}
  <h1 style="text-align: center">{{ klass.get_weekday_display() }}</h1>
  <table>
  <caption>{{ klass.class_name }}</caption>
    <tr>
      <td>{{ _("Number") }}</td>
      <td>{{ _("Lesson") }}</td>
      <td>{{ _("Class") }}</td>
    </tr>
  {% endif %}
  
  {% if  loop.previtem is defined and klass.class_name != loop.previtem.class_name %}
  </table>
  <br />
  <table>
    <caption>{{ klass.class_name }}</caption>
    <tr>
      <td>{{ _("Number") }}</td>
      <td>{{ _("Lesson") }}</td>
      <td>{{ _("Class") }}</td>
    </tr>
  {% endif %}

  <tr>
    <td>{{ klass.lesson_number }}</td>
    <td>{{ klass.lesson }}</td>
    <td>{{ klass.classroom }}</td>
  </tr>

{% endfor %}
</table>
{% endblock content %}

