{% extends "base.html" %}

{% block title %}{{ _("Settings") }}{% endblock title %}

{% block content %}

{% with messages = messages(request) %}
{% if messages %}
<ul class="messages">
    {% for msg in messages %}
    <li style="color: red">{{ msg }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% if request.user.is_teacher %}
<h2>{{ _("Timetable") }}</h2>
<form method="POST" action="{{ url('user:select_teacher') }}">
    {{ csrf_input }}
    <label for="teacher_id">{{ _("Teacher to follow") }}:</label>
    <select name="teacher_id" id="teacher_id">
        <option disabled hidden {% if not request.user.selected_teacher.id %}selected{% endif %} value="None">---------</option>
        {% for teacher in teachers %}
        <option {% if request.user.selected_teacher.id == teacher.id %}selected{% endif %} value="{{ teacher.id }}">{{ teacher }}</option>
        {% else %}
        <p>LOL</p>
        {% endfor %}
    </select>
    <button type="submit">{{ _("Select") }}</button>
</form>
<hr />
{% endif %}
{% if (request.user.is_student or request.user.is_teacher) %}
    <h2>{{ _("Timetable") }}</h2>
    <form method="POST" action="{{ url('user:select_class') }}">
        {{ csrf_input }}
        <label for="class_id">{{ _("Class to follow") }}:</label>
        <select name="class_id" id="class_id">
            <option disabled hidden {% if not request.user.selected_class.id %}selected{% endif %} value="None">---------</option>
            {% for class in classes %}
            <option {% if request.user.selected_class.id == class.id %}selected{% endif %} value="{{ class.id }}">{{ class }}</option>
            {% else %}
            <p>LOL</p>
            {% endfor %}
        </select>
        <button type="submit">{{ _("Select") }}</button>
    </form>
{% else %}
    "What the hell are you?" @Adnold Schwarzenegger
{% endif %}

<hr />

<h2>{{ _("Language") }}</h2>
<form method="POST" action="{{ url('set_language') }}">
    {{ csrf_input }}
    <label for="language">{{ _("Language") }}:</label>
    <select name="language" id="language" >
        {% for lang in avaliable_languages %}
        <option value="{{ lang[0] }}"{% if get_current_language() == lang[0] %} selected{% endif %}>{{ lang[1] }}</option>
        {% endfor %}
    </select>
    <button type="submit">{{ _("Select") }}</button>
</form>

{% endblock content %}