<!DOCTYPE html>
<html lang="{{ get_current_language() }}" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}|{{ _("Timetable") }}{% endblock title %}</title>
    {% block style %}{% endblock style %}
    <link rel="stylesheet" type="text/css" href="{{ static('css/style.css') }}" />
</head>
<body>
    <nav>
        <a href="{{ url('timetable:index') }}">{{ _("Main") }}</a> |
        <a href="{{ url('timetable:week') }}">{{ _("All lessons") }}</a> |
        <a href="{{ url('timetable:test') }}">{{ _("Lesson by Teachers") }} (test)</a>
        {% if request.user.is_authenticated %}
        <div class="login">
            <span>{{ _("Hello, %(user)s")|format(user=request.user.username) }}</span> | 
            <a href="{{ url('timetable:user_settings')}}">{{ _("Settings") }}</a> |
            <a href="{{ url('logout') }}?next=/">{{ _("Log out") }}</a>
        </div>
        {% else %}
        <div class="login">
            <a href="{{ url('social:begin', args=('google-oauth2',)) }}?next=/">Google+</a>
        </div>
        {% endif %}
    </nav>
    {% block content %}
    <h1>{{ _("No content on this page") }}</h1>
    {% endblock content %}
</body>
</html>