<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}|Timetable{% endblock title %}</title>
    {% block style %}{% endblock style %}
    <link rel="stylesheet" type="text/css" href="{{ static('css/style.css') }}" />
</head>
<body>
    <nav>
        <a href="{{ url('timetable:index') }}">Main</a> |
        <a href="{{ url('timetable:week') }}">All lessons</a> |
        <a href="{{ url('timetable:test') }}">Lesson by Teachers (test)</a>
        {% if request.user.is_authenticated %}
        <div class="login">
            <span>Hello, {{ request.user.username }}</span> | 
            <a href="{{ url('timetable:selected')}}">Select teacher</a> |
            <a href="{{ url('logout') }}?next=/">Log out</a>
        </div>
        {% else %}
        <div class="login">
            <a href="{{ url('social:begin', args=('google-oauth2',)) }}?next=/">Google+</a>
        </div>
        {% endif %}
    </nav>
    {% block content %}
    <h1>No content on this page</h1>
    {% endblock content %}
</body>
</html>